.hero{
    background-image: url("/assets/images/x2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#panel{
    margin-top: 40%;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}