<section class="hero is-fullheight is-dark" >
  <div class="columns is-vcentered">
    <div class="column">
        <div class="opponents">

        </div>
    </div>
    <div class="column">
        <div class="rolls">
          <form [formGroup]="myForm" (ngSubmit)="PlaceRoll()">
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input formControlName="roll" class="input is-rounded is-link is-hovered" type="username" placeholder="ROLL">
                  <span class="icon is-small is-left">
                    <i class="fa fas fa-user"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button type="submit" class="button is-success" [disabled]="myForm.invalid">
                    Submit Roll
                  </button>
                </p>
              </div>
          </form>
        </div>
    </div>
    <div class="column">
        <div class="past">
            
        </div>
    </div>
  </div>
</section>

