<section class="hero is-fullheight-with-navbar" id="main" #home>
    <div class="columns is-vcentered">
      <div class="column">

      </div>
      <div class="column is-one-quarter has-text-centered">
        <div class="formContainer">
        <form [formGroup]="registerForm" (ngSubmit)="Register($event)">
          <div class="field">
              <img src="assets/images/text2.png" width="40%">
              <div class="control has-icons-left has-icons-right">
                <input class="input is-hovered is-rounded is-link" [value]="nameSignal()" (keyup)="assignUsername($event)" type="text" formControlName="Name">
                <span class="icon is-small is-left">
                  <i class="fa fas fa-user"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fa fas fa-check" *ngIf="nameIcon"></i>
                </span>
              </div>
              <p class="help is-danger" *ngIf="!isUsernameProper">User with such an username already exists in the system</p>
            </div><br>

            <div class="field">
              <img src="assets/images/text3.png" width="40%">
              <div class="control has-icons-left has-icons-right">
                <input class="input is-hovered is-rounded is-link" [value]="emailSignal()" (keyup)="assignEmail($event)" type="text" formControlName="Email">
                <span class="icon is-small is-left">
                  <i class="fa fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fa fas fa-check" *ngIf="emailIcon"></i>
                </span>
              </div>
              <p class="help is-danger" *ngIf="!isEmailProper">User with such an email already exists in the system</p>
            </div><br>
            
            <div class="field">
              <img src="assets/images/text4.png" width="57%">
              <div class="control has-icons-left has-icons-right">
                <input class="input is-hovered is-rounded is-link" [value]="passwordSignal()" (keyup)="assignPassword($event)" type="password" formControlName="Password">
                <span class="icon is-small is-left">
                  <i class="fa fas fa-key"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fa fas fa-check" *ngIf="passwordIcon"></i>
                </span>
              </div>
              <p class="help is-danger" *ngIf="!isPasswordProper">Password must be minimum 8 characters long,<br> contain at least 1 digit and at least 1 special sign</p>
            </div><br>
            
            <div class="field has-text-centered">
              <div class="control">
                <button id="btnsub" type="submit" class="button" [disabled]="true">Register</button>
              </div>
            </div>
            <p class="help">Already have an accout? <a [routerLink]="['']">Log in!</a></p>
      </form>
    </div>
    </div>
    <div class="column">
      
    </div>
  </div>
</section>
